#*.java.hsp
#*.sonarj
#*.sw*
#.DS_Store
#.settings
#.springBeans
#bin
#build.sh
#integration-repo
#ivy-cache
#jxl.log
#jmx.log
#derby.log
#spring-test/test-output/
#.gradle
#argfile*
#pom.xml
#
#/build
#buildSrc/build
#/spring-*/build
#target/
#
## Eclipse artifacts, including WTP generated manifests
#.classpath
#.project
#spring-*/src/main/java/META-INF/MANIFEST.MF
#
## IDEA artifacts and output dirs
#*.iml
#*.ipr
#*.iws
#.idea
#out
#test-output
#atlassian-ide-plugin.xml
#.gradle/
#.idea/
#buildSrc/.gradle/
#buildSrc/build/
#buildSrc/out/
#spring-aop/build/
#spring-aop/out/
#spring-beans/build/
#spring-beans/out/
#spring-context/build/
#spring-context/out/
#spring-core/build/
#spring-core/out/
#spring-expression/build/
#spring-expression/out/
#spring-instrument-tomcat/out/
#spring-instrument/build/
#spring-instrument/out/
#spring-oxm/out/
.gradle/
.idea/
buildSrc/.gradle/
buildSrc/build/
buildSrc/out/
spring-aop/build/
spring-aop/out/
spring-beans/build/
spring-beans/out/
spring-context/build/
spring-context/out/
spring-core/build/
spring-core/out/
spring-expression/build/
spring-expression/out/
spring-instrument-tomcat/out/
spring-instrument/build/
spring-instrument/out/
spring-oxm/out/
